* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* end reset */

body {
	font-family: 'open sans', sans-serif;
}
.page {
	width: 100%;
	height: 100%;
}
.capturedImage {
	width: 100%;
}
.capturedImage img  {
	width: 100%;
}
.controls {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	padding: 0 3% 30px;
	width: 100%;
}
.button {
	background: #418221;
	border-radius: 5px;
	box-shadow: -3px 3px 0 #6ddb0c;
	display: block;
	font-size: 2em;
	padding: 20px;
	text-align: center;
	width: 30%;
}
.controls .retake-btn {
	background: #822121;
	box-shadow: -3px 3px #db0c0c;
	float: left;
}
.controls .start-btn {
	float: right;
}
.overlay {
	height: 90%;
	width: 100%;
	pointer-events:none;
	position: absolute;
	left: 0;
	top: 10%;
	display: none;
	text-align: center;
}
.overlay img {
	width: 70%;
}
